.spinner {
  fill: var(--spinner-color);

  // Durations
  $particle-duration-fast: 100ms;
  $particle-duration-medium: 200ms;
  $particle-duration-lazy: 400ms;
  $particle-duration-slow: 600ms;

  // Easing
  $particle-easing-linear: cubic-bezier(0, 0, 1, 1);
  $particle-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
  $particle-easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
  $particle-easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
  $loader-duration: 1.2s;

  .small {
    height: 24px;
    width: 24px;
  }

  .medium {
    height: 48px;
    width: 48px;
  }

  .large {
    height: 70px;
    width: 70px;
  }

  .animateOuter {
    fill: var(--fontcolor);
    transform-origin: center center;
    transform: rotateZ(-24deg);
    animation-name: loader-outer;
    animation-duration: $loader-duration;
    animation-timing-function: $particle-easing-standard;
    animation-iteration-count: infinite;
    animation-direction: forward;
  }

  .animateOriginalOuter {
    fill: var(--fontcolor);
    opacity: 1;
    animation-name: loader-outer-original;
    animation-duration: $loader-duration;
    animation-iteration-count: infinite;
  }

  .animateInner {
    fill: var(--fontcolor);
    transform-origin: center center;
    transform: rotateZ(-24deg);
    opacity: 0;
    animation-name: loader-inner;
    animation-duration: $loader-duration;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
  }

  @keyframes loader-outer {
    0% {
      transform: rotateZ(-24deg);
    }
    100% {
      transform: rotateZ(336deg);
    }
  }

  @keyframes loader-inner {
    0%,
    15% {
      opacity: 0;
    }
    16% {
      opacity: 1;
      transform: rotateZ(90deg);
    }
    40% {
      transform: rotateZ(180deg);
    }
    60% {
      transform: rotateZ(270deg);
    }
    80%,
    100% {
      opacity: 0;
    }
  }

  @keyframes loader-outer-original {
    0%,
    15% {
      opacity: 1;
      animation-timing-function: step-end;
    }
    16%,
    79% {
      opacity: 0;
      animation-timing-function: step-end;
    }
    80%,
    100% {
      opacity: 1;
      animation-timing-function: step-end;
    }
  }
}
