.select {
  position: relative;
  min-width: 240px;
  text-transform: capitalize;

  .selected-item {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 20px 2px 7.5px;
    background-color: var(--form-control-background);
    border-bottom: 1px solid var(--form-control-border-color);
    cursor: pointer;
    position: relative;
    min-width: 240px;
    width: fit-content;

    &:hover {
      background-color: var(--form-control-background-hover);
      border-bottom: 1px solid var(--form-control-border-hover-color);
    }

    img {
      position: absolute;
      top: 50%;
      right: 7.5px;
      height: 4px;
    }
  }

  ul {
    height: fit-content;
    padding: 5px 0;
    transition: 0.25s opacity ease-in-out;
    opacity: 1;
    margin: 0;
    list-style: none;
    background-color: var(--form-control-background-absolute);
    position: absolute;
    z-index: 1;
    width: 100%;

    &.hide {
      height: 0;
      opacity: 0;
      visibility: hidden;
      display: none;
    }

    li {
      padding: 7.5px 10px;
      height: 30px;
      cursor: pointer;

      &:hover {
        background-color: var(--form-control-background-hover);
      }
    }
  }
}
