.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: var(--card-border-color);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    height: fit-content;
    width: 100vw;
    max-width: 500px;
    border-radius: 6px;
    background-color: var(--card-modal-background);

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
      height: 34px;
      padding: 7.5px 12.5px;
      border-bottom: 1px solid var(--button-background-secondary);

      img {
        height: 10px;
        opacity: 0.5;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }

    .modal-body {
      padding: 15px 10px;
    }

    .modal-footer {
      padding: 15px 10px;
      .button-container {
        margin: -5px -5px 0;
        padding: 0;
      }
    }
  }
}
