@import '../../mixins.scss';

[data-theme='light'] {
  .search {
    .search-icon {
      img {
        filter: invert(1);
      }
    }
  }
}

.search-container {
  width: 100%;

  .search {
    background-color: var(--form-control-background);
    border-radius: 3px;
    padding: 5px 10px;
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.25s all ease-in;

    &:hover,
    &:focus-within {
      background-color: var(--form-control-background-hover);
    }

    img.close {
      position: absolute;
      right: 10px;
      height: 10px;
      width: 10px;
      object-fit: contain;
      cursor: pointer;
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }

    img.search-icon {
      position: absolute;
      right: 7.5px;
      height: 20px;
      width: 20px;
      object-fit: contain;
    }

    input {
      background-color: transparent;
      border-style: none;
      color: var(--link-color);
      width: 100%;

      &::placeholder {
        color: var(--font-color);
      }
    }
  }

  .results {
    @include search();
    position: absolute;
    top: 40px;
    background-color: var(--background);
    z-index: 1;

    ul {
      height: fit-content;
      max-height: 60vh;
      padding: 0;
      transition: 0.25s all ease-in-out;
      opacity: 1;
      margin: 0;
      list-style: none;
      background-color: var(--form-control-background-absolute);
      position: absolute;
      z-index: 1;
      width: 100%;
      overflow: overlay;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      border-radius: 6px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);

      li {
        @include flex();
        color: var(--link-color);
        height: 30px;

        &.category {
          font-size: 11px;
          opacity: 0.64;
          text-transform: capitalize;
          &:hover {
            background-color: transparent;
            cursor: default;
          }
        }

        &.top-search-item {
          font-weight: 500;
          border-bottom: 1px solid var(--list-border-color);
          color: var(--font-color);
          height: 35px;

          &.no-results {
            border-bottom: 1px solid transparent;
          }

          b {
            margin: 0 2.5px;
            color: var(--link-color);
            text-decoration: underline;
          }

          div {
            @include flex();
            justify-content: flex-start;

            span {
              margin-top: 5px;
            }
          }
        }

        span {
          vertical-align: text-top;
          margin-left: 4px;
        }

        img {
          height: 14px;
          width: auto;
          margin-right: 4px;
        }
      }
    }

    li {
      padding: 5px 10px;
      height: 30px;
      cursor: pointer;

      &:hover {
        background-color: var(--form-control-background-hover);
      }
    }
  }
}
